.about-us__article {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #141414;
  width: 683px;
  margin: 16px 0 0 0;
}
