.main__subtitle {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #141414;
  margin: 0 auto 15px 68px;
  max-width: 435px;
}
