.services__description {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #141414;
  max-width: 292px;
  margin: 0 auto 31.17px 34px;
}
